<div class="row justify-content-center">
  <div class="col-10">
    <% if @article.errors.any? %>
      <!-- <p class="text-info">The following error messages occured</p> -->
      <%  @article.errors.full_messages.each do |error_message| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error_message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
